.footerContainer{
  border-top: 5px solid var(--orange);
  background-color: var(--black);
  margin: 0 auto;
  padding: 55px 10rem;

  h2{
    margin-bottom: 3px;
    color: var(--white);
  }

  h3{
    margin-bottom: 3px;
    color: var(--white);
  }

  hr{
    width: 25px;
    height: 4px;
    border: 0px;
    background-color: var(--white);
  }

  p{
    color: var(--white);
  }
}

.sectionContentFooter{
  display: flex;
  grid-gap: 90px;
}

.contentFooter{
  width: 310px;

  Image{
    cursor: pointer;
   }

   svg{
    cursor: pointer;
   }

   ul{
    padding-bottom: 15px;
    list-style-type: none;
   }

   li{
    color: var(--white);
    transition: color 0.7s;
    cursor: pointer;
    padding-bottom: 5px;
   }

   li:hover{
    color: var(--orange);
   }

  a{
    cursor: pointer;
    display: flex;
    color: var(--white);
    text-decoration: none;
    padding-bottom: 15px;
    transition: color 0.7s;

   &:hover{
     color: var(--orange);
   }

 }

}

.emptyList{
  color: var(--orange);
 }

 .dateArticles{
  color: var(--orange);
 }

.containerContacts{
  display: flex;
  padding-bottom: 20px;

  p{
    padding-left: 15px;
    cursor: pointer;
  }

  span{
    cursor: pointer;
  }
}

.copyrightFooter{
  display: flex;
  justify-content: center;
  margin-top: 70px;

  h5{
    color: var(--white);
  }
}

.menuNav ul {
  list-style-type: none;
}

.menuNav ul li {
  position: relative;
}

.menuNav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.menuNav ul li a:hover {
  color: var(--orange);
  cursor: pointer;
}

/*sub menu*/
.menuNav ul ul {
  background-color: black;
  display: none;
  left: 0;
  position: absolute;
  color: white;
}

.menuNav ul li:hover ul {
  display: block;
}

.menuNav ul ul {
  width: 230px;
  z-index: 99;
}

.menuNav ul ul li a {
  display: block;
  cursor: pointer;
}

@media (max-width: 1150px){
  .sectionContentFooter {
    flex-direction: column;
    grid-gap: 40px;
  }
}

@media (max-width: 520px){
  .footerContainer{
    padding: 55px 2rem;
  }
}