.articleMaster {
   h1 {
      font-size: 2rem;
      margin-bottom: 20px;
   }
}

.sectionContent {
   display: grid;
   width: 100%;
   grid-template-areas: "head head"
      "nav  main"
      "nav  foot";
   grid-template-rows: 50px 1fr 30px;
   grid-template-columns: 400px 1fr;
}

.sectionContent>nav {
   grid-area: nav;
   padding: 0 90px;
}

.sectionContent>article {
   grid-area: main;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.emptyListBox {
   display: flex;
   margin: 0 600px;
   width: 100%;

   .emptyList {
      margin-top: 2rem;
      color: var(--orange);
   }
}

.articleBox {
   background-color: var(--white);
   width: 950px;
   padding: 28px;
   margin-bottom: 25px;

   hr {
      width: 50%;
      height: 4px;
      border: 0px;
      border-top: 1px solid var(--orange);
   }

   h1 {
      text-align: center;
      font-size: 3rem;
   }
}

.bannerArticle {

   Image {
      width: auto;
      object-fit: cover;
   }
}

.titleArticle {
   margin-bottom: 10px;
}

.informationsArticle {
   align-items: center;
   display: flex;

   svg {
      margin: 8px;
   }

   span {
      font-size: 13px;
      display: flex;
      align-items: center;
      align-content: center;
   }

   a {
      text-decoration: none;
      color: var(--black);
   }
}

.descriptionArticle {
   white-space: pre-line;
}

.articleMore {
   margin: 20px 0;

   Button {
      padding: 10px;
      font-size: 20px;
   }
}

.arrowArticle {
   margin: 0 10px;
}

.emptyList {
   margin-top: 2rem;
   color: var(--orange);
}

.containerPagination {
   display: flex;
   justify-content: space-between;
   max-width: 950px;
}

.totalArticles {
   margin: 15px 5px;
}

.containerArticlesPages {
   display: flex;
   justify-content: center;

   button {
      margin: 0 15px;
      padding: 5px 10px;
      height: 40px;
      border: 0;
      background-color: var(--orange);
      font-weight: bold;
      font-size: 1.2rem;
      border-radius: 0.3rem;
      color: var(--black);
      cursor: pointer;
   }
}

.page {
   margin: 0 10px;
   padding: 12px 10px;
   cursor: pointer;

   &:hover {
      background-color: var(--orange);
      border-radius: 0.3rem;
   }

   &:active {
      background-color: var(--orange);
      border-radius: 0.3rem;
   }
}

.tags {
   margin-top: 50px;
   align-items: center;
   display: flex;
   padding-bottom: 20px;

   svg {
      margin: 8px;
   }

   span {
      font-size: 13px;
      display: flex;
      align-items: center;
      align-content: center;
   }

   a {
      text-decoration: none;
      color: var(--black);
   }
}

@media (max-width: 1224px){
   .articleBox {
      width: 740px;
   }

   .bannerArticle {

      Image {
         width: 670px;
      }
   }

}

@media (max-width: 1160px){
   .articleBox {
      width: 540px;

      h1 {
         font-size: 2rem;
      }
   }

   .bannerArticle {

      Image {
         width: 470px;
         height: 220px;
      }
   }

   .vejaTambem{
      display: none;
   }

   .containerArticlesPages {
      display: none !important;
   }

   .pagination{
      margin-top: 10px !important;
      display: inline-flex !important;
      width: 100%;
   }

   .antes {
      max-width: 100px;

      a{
         font-size: 12px;
      }
   }

   .proximo {
      max-width: 100px;

      a{
         font-size: 12px;
      }
   }
}


@media (max-width: 1050px) {
   .sectionContent {
      display: flex;
      flex-direction: column !important;
      align-items: center;
   }

   .articleBox {
      width: 640px;
      margin-top: 50px;
   }

   .bannerArticle {

      Image {
         width: 440px;
         height: 220px;
      }
   }

}

@media (max-width: 585px) {
   .containerPagination {
      flex-direction: column;
   }

   .articleBox {
      width: 340px;
   }

   .bannerArticle {

      Image {
         width: 200px;
         height: 200px;
      }
   }

   .containerArticlesPages {

      span {
         display: none;
      }
   }

}

@media (max-width: 498px){
   .informationsArticle{
      flex-direction: column;
   }
}

@media (max-width: 478px) {
   .sectionContent>nav {
      padding: 0 15px;
   }

   .titleArticle {

      h1 {
         font-size: 1.6rem;
      }
   }

   .articleBox {
      width: 350px;
   }

   .bannerArticle {

      Image {
         width: 280px;
         height: 200px;
      }
   }

   .tags {
      span {
         font-size: 9px;
      }
   }

}

.vejaTambem {
   margin: 15px 0;
}

.containerArticlesPages {

   .articleBoxFooter {
      display: flex;
      background-color: var(--white);
      padding: 10px;
      width: 250px;
      height: 220px;
      align-items: center;

      h4 {
         padding-bottom: 10px;
      }
   }

   .article {

      Image {
         width: 160px;
      }
   }
}

.containerArticles {
   display: flex;
   text-align: center;
   justify-content: space-around;
   align-items: center;
}

.pagesFooter {
   text-align: center;
   margin: 45px 0;
   justify-content: center;
}

.previus {

   svg {
      cursor: pointer;
   }
}

.next {

   svg {
      cursor: pointer;
   }
}

.pagination {
   display: flex;
   justify-content: space-between;
   margin-top: 80px;
   margin-bottom: 70px;

   .antes {
      background-color: var(--orange);
      padding: 13px;
      font-weight: 900;
      border: 0;
      max-width: 320px;

      a {
         padding: 20px;
         text-decoration: none;
         color: var(--black);
      }
   }

   .proximo {
      background-color: var(--orange);
      padding: 13px;
      font-weight: 900;
      border: 0;
      max-width: 320px;

      a {
         padding: 20px;
         text-decoration: none;
         color: var(--black);
      }
   }
}