.container {
  max-width: 1150px;
  margin: 4rem auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.return {
  cursor: pointer;
}

.container h1 {
  color: var(--black);
  margin-top: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;

  h3 {
    text-align: center;
  }

  span{
    text-align: center;
    font-size: 11px;
    padding-top: 5px;
  }

  select {
    width: 100%;
    height: 40px;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
    color: var(--orange);
    background-color: var(--black);
    border: 1px solid var(--orange);
    padding: 0 0.5rem;
  }

  button {
    cursor: pointer;
  }

}

.categoryCadastre{
  cursor: pointer;
  display: inline-flex;

  span{
    padding-left: 4px;
  }
}

.input {
  border-radius: 0.3rem;
  margin-bottom: 1rem;
  color: var(--gray);
  background-color: var(--black);
  border: 1px solid var(--orange);
  height: 40px;
  padding: 0 0.5rem;
}

.titleTags {
  font-size: 15px;
}

.boxTags {
  text-align: center;
  display: flex;

  Select {
    margin: 15px;
    height: 28px;
  }
}

.buttonAdd {
  border-radius: 0.3rem;
  height: 40px;
  border: 0;
  background-color: var(--orange);
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--white);
}


.labelBanner {
  width: 100%;
  height: 480px;
  background-color: var(--black);
  margin-bottom: 1rem;
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  input {
    display: none;
  }

  span {
    z-index: 99;
    position: absolute;
    opacity: 0.7;
    transition: all 0.7s;
  }

  span:hover {
    opacity: 1;
    transform: scale(1.2);
  }

}

.preview {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 0.3rem;
}

.tox:not([dir=rtl]) .tox-statusbar__branding {
  display: none;
}

.tox .tox-statusbar__branding svg {
  display: none;
}

@media (max-width: 860px){
  .boxTags{
    flex-direction: column;
  }
}