.containerMain {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container {
  min-height: 100vh;
  margin: 0 auto;
  margin-top: 5rem;
  max-width: 1180px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 1.5rem;

  h1 {
    color: var(--black);
  }

  h3 {
    padding-top: 2rem;
    font-size: 1.5rem;
    font-weight: bolder;
  }

  .return {
    margin-bottom: 1.5rem;
    cursor: pointer;
  }

  select {
    width: 100%;
    height: 40px;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
    color: var(--orange);
    background-color: var(--black);
    border: 1px solid var(--orange);
    padding: 0 0.5rem;
  }
}

.form {
  margin: 1rem 0;
  text-align: center;
}

.input {
  background-color: var(--black);
  border: 0;
  width: 19%;
  padding: 1rem;
  height: 40px;
  border-radius: 0.5rem;
  color: var(--white);
  border: 1px solid var(--orange);
  margin: 5px;
}

.buttonAdd {
  width: 100%;
  height: 40px;
  border: 0;
  background-color: var(--orange);
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 0.3rem;
  color: var(--black);
  cursor: pointer;
  margin-top: 5px;
}

.listTags {
  border: solid 1px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.tag {
  width: 100%;
}

.sectionBoxContainer {

  Input {
    width: 73%;
  }

  Button {
    margin-left: 10px;
    padding: 10px;
    width: 25%;
  }
}

@media (max-width: 555px) {
  .sectionBoxContainer {

    Input {
      width: 69%;
    }

    Button {
      margin-left: 10px;
      padding: 15px;
      width: 25%;
    }
  }

}

.buttonRefresh {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: 40px;
  border: 0;
  background-color: var(--red);
  font-weight: 400;
  font-size: 1.2rem;
  border-radius: 0.3rem;
  color: var(--white);
  cursor: pointer;
}

.refresh {
  color: var(--white);
  margin-right: 3%;
}

.sectionBoxTags {

  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;

  .tagsBox {
    margin: 0 10px;

    .selectBox {
      display: flex;
    }

    Select {
      width: 85px;
      height: 30px;
    }

    h5 {
      font-size: 10px;
      padding-bottom: 8px;
    }

    h4 {
      font-size: 11px;
      padding-bottom: 5px;
    }

    .emptyList {
      margin-top: 2rem;
    }

    .tagBox {
      display: flex;
      align-content: center;
      align-items: center;
      margin-bottom: 4px;
    }

    .nameTag {
      width: 80%;
      cursor: pointer;
      align-self: center;
      font-weight: 700;
      font-size: 1rem;
      padding: 5px 0;
      padding-left: 0.5rem;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .containerPagination {

      .totalTags {
        margin: 15px 0;
        font-size: 13px;
      }

      .containerTagsPages {
        display: flex;
        justify-content: space-between;

        button {
          padding: 5px;
          height: 30px;
          border: 0;
          background-color: var(--orange);
          font-weight: bold;
          font-size: 0.9rem;
          border-radius: 0.3rem;
          color: var(--black);
          cursor: pointer;
        }
      }

    }

  }
}

.allCategorys {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 20px;
}

.allCategorysBox {
  border: 1px solid var(--orange);
  border-radius: 5px;
  flex-direction: column;
  padding: 7px 0;
  background-color: var(--black);
  display: flex;
  align-content: center;
  align-items: center;
  color: var(--black);
  height: auto;

  span{
    width: 180px;
    color: var(--white);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (max-width: 1020px){
  .allCategorys {
    grid-template-columns: auto auto auto auto;
  }
}

@media (max-width: 800px){
  .allCategorys {
    grid-template-columns: auto auto auto;
  }
}

@media (max-width: 620px){
  .allCategorys {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 420px){
  .allCategorys {
    grid-template-columns: auto;
  }
}


@media (max-width: 775px) {
  .sectionBoxTags {
    grid-template-columns: 33% 33% 33%;
  }

  .input {
    width: 30%;
  }
}

@media (max-width: 560px) {
  .sectionBoxTags {
    grid-template-columns: 95%;
  }
}