.container {
   display: flex;
   text-align: center;
   justify-content: center;
   align-items: center;
   width: 620px;
   height: 100vh;
   flex-direction: column;
   margin: auto;
   padding: 50px;
 }
 
 .container h2 {
   margin: 1rem 0;
 }
 
 .buttonUpdate {
   cursor: pointer;
   width: 40%;
   max-width: 600px;
   background-color: var(--red);
   border: 0;
   padding: 0.8rem;
   color: var(--white);
   border-radius: 0.5rem;
   transition: filter 0.2s;
   color: var(--white);
   font-weight: 700;
   margin: 20px;
 
   &[disabled] {
     cursor: not-allowed;
 
     svg {
       animation: animate 2s infinite;
     }
   }
 
   &:hover {
     filter: brightness(1.08);
   }
 }
 
 @keyframes animate {
   from {
     transform: rotate(0deg);
   }
 
   to {
     transform: rotate(360deg);
   }
 }
 
 
 @media screen and (max-width: 700px) {
   .container {
     width: 430px;
   }
 }
 
 @media screen and (max-width: 550px) {
   .container {
     width: 330px;
   }
 }
 
 .containerContent{
   background-color: var(--black);
   position: absolute;
   justify-content: center;
   align-items: center;
   color: var(--white);
   border-radius: 3%;
   padding: 50px;
 }