.headerContainer {
  background-color: var(--black);
  height: 5rem;
}

.headerContent {
  max-width: 1260px;
  height: 5rem;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  Image {
    cursor: pointer;
  }

  span {
    font-size: 0.9rem;
    color: var(--white);
    cursor: pointer;
  }

  .userImg {

    .img{
      max-width: 40px;
      max-height: 50px;
      border-radius: 50%
    }
    
  }

}

.iconMobile {
  display: none;
}

.menuNavMobile {
  display: none;
  z-index: 99;
}

.buttonSignOutMobile{
  display: none;
}

.dataUser {
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    padding-right: 20px;
  }
}

.menuNav {
  display: flex;
  align-items: center;
  z-index: 99;

  a {
    text-decoration: none;
    color: var(--white);
    padding: 0 0.3rem;
    display: inline-block;
    position: relative;
    transition: color 0.7s;
    font-size: 0.8rem;
    letter-spacing: 0.3px;

    &+a {
      margin-left: 1rem;
    }

    &:hover {
      color: var(--orange);
    }

  }


  button {
    cursor: pointer;
    margin-left: 2rem;
    background: transparent;
    border: 0;
    transition: transform 0.8s;

    &:hover {
      transform: scale(1.2);
    }
  }

}

@media (max-width: 1181px) {
  .headerContainer {
    padding: 4%;
    flex-direction: column;
    height: 15rem;
  }

  .headerContent {
    flex-direction: column;
    height: 10rem;

    span {
      padding-bottom: 0.7rem;
    }

    .dataUser {
      width: 85%;
      flex-direction: column;
    }
    
  }

  @media (max-width: 670px) {
    .headerContainer {
      height: 29rem;
    }
  }

  @media (max-width: 460px) {
    .dataUser {
      width: 40%;
      margin: 10px;
    }
  }

}

@media (max-width: 773px) {
  .headerContainer {
    height: 33rem;
  }
}

@media (max-width: 780px) {

  .buttonSignOutMobile{
    display: block !important;
    background-color: var(--black);
    border: 0;
    margin: 15px;
  }

  .headerContent {
    height: 29rem;
  }

  .menuNav{
    display: none;
  }

  .iconMobile{
    display: block !important;
  }

  .menuNavMobile {
    display: block !important;
    height: 0;

    nav {
      display: flex;
      background-color: var(--black);
      padding: 20px;
      position: relative;
      flex-direction: column !important;

      a {
        text-decoration: none;
        color: var(--white);
        padding: 10px;
      }
    }

  }
}