.sectionContent {
   display: grid;
   width: 100%;
   grid-template-areas: "head head"
      "nav  main"
      "nav  foot";
   grid-template-rows: 50px 1fr 30px;
   grid-template-columns: 400px 1fr;
}

.sectionContent>nav {
   grid-area: nav;
   padding: 0 90px;
}

.sectionContent>article {
   grid-area: main;
   display: flex;
   flex-direction: column;
   align-items: center;
}

@media (max-width: 1162px) {
   .sectionContent {
      grid-template-columns: 300px 1fr;
   }

   .sectionContent>nav {
      padding: 0 40px;
   }
}

@media (max-width: 1088px) {
   .sectionContent {
      display: flex;
      flex-direction: column;
   }
}

@media (max-width: 770px) {
   .sectionContent {
      align-items: center;
   }
}

@media (max-width: 440px) {
   .sectionContent {
      text-align: -webkit-center;
   }
}