.container {
  max-width: 1180px;
  margin: 4rem auto;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 2em;
  }

}

.containerSelect {
  display: flex;
  align-content: center;

  h5 {
    padding: 10px 0;
    margin-right: 10px;
  }

  select {
    width: 6%;
    height: 40px;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
    color: var(--orange);
    background-color: var(--black);
    border: 1px solid var(--orange);
    padding: 0 0.5rem;
  }
}

.articleBox {
  background-color: var(--white);
  width: 880px;
  margin-bottom: 90px;
  padding: 28px;

  hr{
    width: 50%;
    height: 4px;
    border: 0px;
    border-top: 1px solid var(--orange);
  }
}

.bannerArticle {

  Image{
    object-fit: contain;
  }
}

.titleArticle {
  margin-bottom: 10px;
}

.informationsArticle{
  align-items: center;
  display: flex;

  svg{
    margin: 8px;
  }

  span{
    font-size: 13px;
    display: flex;
    align-items: center;
    align-content: center;
  }

  a{
    text-decoration: none;
    color: black;
  }
}

.descriptionArticle {
  height: 150px;
  white-space: pre-line;
  overflow:hidden;
  text-overflow: ellipsis;
}

.articleMore{
  margin: 20px 0;

  Button{
    padding: 10px;
    font-size: 20px;
  }
}

.arrowArticle{
  margin: 0 10px;
}

.emptyList {
  margin-top: 2rem;
  color: var(--orange);
}

.containerPagination {
  display: flex;
  justify-content: space-between;
  max-width: 950px;
}

.totalArticles {
  margin: 15px 5px;
}

.containerArticlesPages {
  display: flex;

  button {
    margin: 0 15px;
    padding: 5px 10px;
    height: 40px;
    border: 0;
    background-color: var(--orange);
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 0.3rem;
    color: var(--black);
    cursor: pointer;
  }
}

.page {
  margin: 0 10px;
  padding: 12px 10px;
  cursor: pointer;

  &:hover {
    background-color: var(--orange);
    border-radius: 0.3rem;
  }

  &:active {
    background-color: var(--orange);
    border-radius: 0.3rem;
  }
}

.tags{
  align-items: center;
  display: flex;
  padding-bottom: 20px;

  svg{
    margin: 8px;
  }

  span{
    font-size: 13px;
    display: flex;
    align-items: center;
    align-content: center;
  }

  a{
    text-decoration: none;
    color: var(--black);
  }
}

@media (max-width: 1358px){
  .articleBox{
    width: 740px;
  }

  .bannerArticle{

    Image{
      width: 640px;
    }
  }
}

@media (max-width: 770px){
  .articleBox{
    width: 540px;
  }

  .bannerArticle{

    Image{
      width: 440px;
    }
  }
}

@media (max-width: 585px){
  .containerPagination{
    flex-direction: column;
  }

  .articleBox{
    width: 440px;
  }

  .bannerArticle{

    Image{
      width: 280px;
      height: 200px;
    }
  }

  .containerArticlesPages{

    span{
      display: none;
    }
  }
  
}

@media (max-width: 478px){
  .titleArticle{

    h1{
      font-size: 1.6rem;
    }
  }
  .articleBox{
    width: 350px;
  }

  .bannerArticle{

    Image{
      width: 280px;
      height: 200px;
    }
  }

  .tags{
    span{
      font-size: 9px;
    }
  }

  .informationsArticle{
    flex-direction: column;
  }
}